---
---

// my custom variables that architect can use here

@import "{{ site.theme }}";

// my custom css that architect can use here

header h1 {
  width: 560px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 45px;
  font-weight: normal;
  line-height: 1;
  color: #0f0;
  letter-spacing: -1px;
}

header h2 {
  width: 560px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}
.inner {
  width: 960px;
}

header a {
  overflow-wrap: break-word;
  word-wrap: break-all;
}

